    {% extends 'base.html' %}

    {% block content %}
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href="{% url "create_project" %}">Create a new project</a>
                </p>
                {% if projects %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>
                                    {% with project.tasks.all|length as num_tasks %}
                                        {{ num_tasks }}
                                    {% endwith %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    {% endblock content %}
    {% comment %} <!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
    </head>
    <body> {% endcomment %}

    {% comment %} </body>
</html> {% endcomment %}
